.additional-product {
  border: 2px solid red;
  padding: 13px 0 19px;
}

.additional-product__title {
font-weight: 400;
font-size: 16px;
line-height: 16px;
text-transform: uppercase;
color: @product-card-title-color;
}

.additional-product__size, .additional-product__price {
  font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: @text-color;
}

.additional-product__button {
font-size: 16px;
line-height: 20px;
}

