.client-contacts__legend {
  padding: 0 93px 35px 0;

  @media (min-width: @tablet-width) {
    padding: 0 157px 76px 39px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 708px 76px 0;
  }
}

.client-contacts__wrapper {
  outline: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 280px;
  min-height: 104px;
  padding: 0 0 24px;

  @media (min-width: @tablet-width)  {
    min-width: 635px;
    min-height: 124px;
    padding: 0 35px 65px 38px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    min-height: 50px;
    min-width: 1220px;
    padding: 0 0 69px;
  }
}
