.example {
  background-color: @background-additional;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 659px;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    min-height: 598px;
    padding-top: 43px;
    padding-bottom: 101px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    min-height: 598;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 75px;
    align-items: flex-start;
  }
}

.example__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 318px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    min-height: 318px;
  }

  @media (min-width: @desktop-width) {
    min-height: 523px;
    min-width: 436px;
    flex-basis: 436px;
    align-items: flex-start;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @title-color;
  margin: 0 0 40px;

  @media (min-width: @tablet-width) {
    margin: 0 0 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 146px;
  }
}

.example__lead {
  font-family: @font-text;
  font-size: 14px;
  line-height: 18px;
  color: @text-color;
  margin: 0;

  @media (min-width: @tablet-width) {
  font-size: 16px;
  line-height: 24px;
  padding-right: 30px;
  }
}

.example__results-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 110px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    min-height: 77px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    min-width: 366px;
    min-height: 152px;
  }

}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media (min-width: @tablet-width) {
    min-width: 366px;
  }
}

.example__item {
  position: relative;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  color: @title-color;
  width: 124px;
  height: 56px;
  text-align: center;
  border: 1px solid @border-example;
  border-radius: 3px;
  padding-top: 14px;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 77px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  position: absolute;
  display: block;
  font-family: @font-text;
  font-size: 12px;
  line-height: 12px;
  color: @text-color;
  margin: 0;
  width: 77px;
  min-height: 24px;
  text-align: center;
  background-color: @background-additional;
  top: 46px;
  left: 22px;

  @media (min-width: @tablet-width) {
    width: 127px;
    min-height: 14px;
    font-size: 14px;
    line-height: 14px;
    top: 63px;
    left: 17px;
  }
}

.example__price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @title-color;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 174px;
    font-size: 20px;
    line-height: 27px;
    text-align: end;
    padding-top: 8px;
  }

  @media (min-width: @desktop-width) {
    width: 327px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.example__gallery {
  display: flex;
  width: 280px;
  height: 256px;

  @media (min-width: @tablet-width) {
    min-height: 512px;
    min-width: 560px;
  }

}

.slider__range-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @title-color;
}
