.form {
  padding: 27px 20px 0;
  border: 2px solid red;
}

.form__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @title-color;
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @title-color;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
}
