.form {
  padding: 27px 0 32px;
  border: 2px solid red;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding: 64px 0 72px;
  }

    @media (min-width: @desktop-width) {
    padding: 74px 0 72px;
  }
}

.form__header {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 109px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding: 0 40px;
    min-height: 174px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    min-height: 176px;
  }
}

.form__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @title-color;
  margin: 0;
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @title-color;
  margin: 0;
}

.form__fieldset {
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  border: none;
}

.form__cat-questionnaire-wrapper {
  border: 2px solid red;
  display:flex;
  flex-direction: column;
  min-height: 344px;
  justify-content: space-between;
  padding: 0 0 26px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding: 0 37px 71px 41px;
    min-height: 468px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 65px;
    min-height: 200px;
    min-width: 1220px;
    flex-direction: row;
  }
}

.client-contacts__legend {
  padding: 0 93px 35px 0;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding: 0 157px 76px 39px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 708px 76px 0;
  }
}

.client-contacts__wrapper {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 280px;
  min-height: 104px;
  padding: 0 0 24px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    min-width: 635px;
    min-height: 124px;
    padding: 0 35px 65px 38px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    min-height: 50px;
    min-width: 1220px;
    padding: 0 0 69px;
  }
}

.comment__legend {
  padding: 0 159px 38px 0;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding: 0 487px 76px 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 1038px 76px 0;
  }
}

.comment__textarea {
  min-height: 151px;
  min-width: 280px;
  margin: 0 0 23px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    min-height: 174px;
    min-width: 631px;
    margin: 0 37px 65px 40px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1220px;
    margin: 0 0 67px;
  }
}

.extra__legend {
  padding: 0 139px 34px 0;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding: 0 457px 57px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 1008px 57px 0;
  }
}

.extra__list {
  border: 2px solid red;
  min-width: 280px;
  min-height: 191px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 34px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 565px;
    min-height: 166px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 103px 54px 40px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    min-height: 40px;
    margin: 0 0 61px;
  }
}

.extra__item {
  border: 2px solid red;
  flex-basis: 30px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    flex-basis: 221px;
  }
}

.extra__button-wrapper {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;



  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    flex-direction: row;
    margin-left: 40px;
    margin-right: 103px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}


.form__button {
  font-size: 16px;
  line-height: 20px;
}
