.main-header {
  border: 2px solid red;

  @media (min-width: @tablet-width) {

  }

  @media (min-width: @desktop-width) {

  }
}


.main-header__wrapper {
  padding-top: 10px;
  padding-bottom: 17px;
  display: flex;
  flex-direction: column;
  min-height: 65px;


  @media (min-width: @tablet-width) {
    padding-top: 24px;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    min-height: 52px;
  }


  @media (min-width: @desktop-width) {
    padding-top: 53px;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
    min-height: 59px;
  }
}

.main-header__logo-wrapper {
  display: flex;
  min-height: 38px;
}

.main-header__logo {
  margin-right: 57px;
}

.main-header__text-logo {
  margin-right: 65px;
}

.main-header__toggle {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
