.programs {
  border: 2px solid red;
}
.programs__item {
  background: @background-additional;
}

.programs__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @title-color;
}

.programs__description {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @text-color;
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
